@model NHDNUG.Models.ViewModelMeeting 

@{
    ViewBag.Title = "Meeting Details";
}

<h2>@ViewBag.Title</h2>

<div class="featured">
    <table>
        @if (Context.User.IsInRole("Admin") == true)
        {
            <tr>
                <td>Speaker URL:</td>
                <td>
                    <a href="http://www.nhdnug.org/meetings/speakeredit/@Model.Meeting.rowguid">
                        http://www.nhdnug.org/meetings/speakeredit/@Model.Meeting.rowguid
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td class="display-label">Date:</td>
            <td>
                @Model.Meeting.StartDateTime          
            </td>
        </tr>
        <tr>
            <td class="display-label">Topic:</td>
            <td>@Model.Meeting.Topic</td>
        </tr>
        <tr>
            <td class="display-label">Location:</td>
            <td>
                @Model.Meeting.nh_Addresses.Name
                @if (!string.IsNullOrEmpty(Model.Meeting.nh_Addresses.Street2))
                { <text>(@Model.Meeting.nh_Addresses.Street2)</text>}
                @if (!string.IsNullOrEmpty(Model.Meeting.nh_Addresses.Street1))
                    {
                        <a href="@NHDNUG.Mvc.Code.StringExtensions.GetGoogleURL(Model.Meeting.nh_Addresses.Street1,
                                                                        Model.Meeting.nh_Addresses.City,
                                                                        Model.Meeting.nh_Addresses.State,
                                                                        Model.Meeting.nh_Addresses.ZipCode)" target="_blank">Map</a>
                    }
            </td>
        </tr>
        <tr>
            <td class="display-label">Description:</td>
            <td>@Html.Raw(Model.Meeting.Description)</td>
        </tr>
        <tr>
            <td class="display-label">Speaker:</td>
            <td>
                @if (!string.IsNullOrEmpty(Model.Meeting.nh_Speakers.URL))
                    { 
                        <a href="@Model.Meeting.nh_Speakers.URL">@Model.Meeting.nh_Speakers.NameFirstLast</a>
                    }
                    else
                    {
                        @Model.Meeting.nh_Speakers.NameFirstLast
                    }
            </td>
        </tr>
        <tr>
            <td class="display-label">Company:</td>
            <td>
                @Model.Meeting.nh_Speakers.CompanyName  
            </td>
        </tr>
        <tr>
            <td class="display-label">Bio:</td>
            <td>
                @Html.Raw(Model.Meeting.nh_Speakers.Bio) 
            </td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Meeting.SponsorID.ToString()))
        {
            <tr>
                <td>Sponsor:</td>
                <td>
                    <img src="@Url.Content("~/Content/images/scaled/" + @Model.Meeting.nh_Sponsors.LogoFileName)" alt="@Model.Meeting.nh_Sponsors.Name" title="@Model.Meeting.nh_Sponsors.Name" /><br />
                    <a href="@Model.Meeting.nh_Sponsors.URL" target="_blank">@Model.Meeting.nh_Sponsors.URL</a>
                </td>
            </tr>
        }
        @if (Model.Documents.Count > 0)
        {
            <tr>
                <td>Downloads:</td>
                <td>
                    @foreach (var item in Model.Documents)
                    {
                        <a href="@Url.Content("~/Content/documents/" + item.Path)" target="_blank">@Html.DisplayFor(modelItem => item.Path)</a> <br />
                    }
                </td>
            </tr>
        }
        @if (Model.Announcements.Count > 0)
        {
            <tr>
                <td>Announcements:</td>
                <td>
                    <a href="@Url.Content("~/Meetings/Announcements/" + Model.Meeting.MeetingID)" >See Announcements</a>
                </td>
            </tr>
        }         
    </table>
    <br />
</div>