@model IEnumerable<NHDNUG.Data.nh_Addresses>

@{
    ViewBag.Title = "Location Listing";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}
<script type="text/javascript">
    setAdminNavFocus("locationsAdmin")
</script>
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="featured table-highlight"">
    <table style="width:100%;">
        <tr>
            <th style="min-width:350px;">
                Name
            </th>
            <th>
                Room
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AddressID }) |
                @Html.ActionLink("Details", "Details", new { id=item.AddressID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AddressID })
            </td>
        </tr>
    }

    </table>
</div>
<br />