@model NHDNUG.Data.nh_Documents

@{
    ViewBag.Title = "Edit Document";
}
@section head{

}
<script type="text/javascript">
    setAdminNavFocus("documentsAdmin")
</script>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.DocumentID )
    @Html.Partial("_CreateOrEdit", Model)
    <p>
        <input type="submit" value="Save" class="k-button"  /> | @Html.ActionLink("Back to List", "Index")
    </p>

}