@model NHDNUG.Data.nh_Sponsors

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="featured">
    <table>
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.Name)</td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.URL)</td>
            <td class="editor-field">
                @Html.EditorFor(model => model.URL)
                @Html.ValidationMessageFor(model => model.URL)        
            </td>
        </tr>
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.Active )</td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)        
            </td>
        </tr>
        <tr>
            <td class="editor-label">Logo</td>
            <td class="editor-field">
                @Html.HiddenFor(model => model.LogoFileName)
                <img id="LogoImage" src="@Url.Content("~/Content/images/scaled/" + @Model.LogoFileName)" alt="@Model.LogoFileName" title="@Model.LogoFileName" /><br />
                (jpg/png/bmp/gif - will be scaled to max 275x70)
                <input name="files" id="files" type="file" />
                @Html.ValidationMessageFor(model => model.LogoFileName)        
            </td>
        </tr>
    </table>
    <br />
    <script>
        $(document).ready(function () {
            $("#files").kendoUpload({
                async: {
                    saveUrl: "../File/uploadImage",
                    autoUpload: true
                },
                success: function (data) {
                    $.each(data, function (key, val) {
                        //alert('Key=' + key + ' Val=' + val);
                        if (key == 'files') {
                            $.each(val, function (key, val) {
                                //alert('File Key=' + key + ' File Val=' + val);
                                $.each(val, function (key, val) {
                                    //alert('File object Key=' + key + ' File Val=' + val);
                                    if (key == 'name') {
                                        //alert('Filename=' + val);
                                        $("#LogoFileName").val(val);
                                        $("#LogoImage").attr("src", "../Content/images/scaled/" + val);
                                    }
                                });
                            });
                        }
                    });
                }



            });
        });
    </script>
</div>
<br />